h2{
    color: aqua;
    font-size: 34px;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}
p{
    font-family: monospace;
    font-size: 16px;
}

th, td{
    border: 2px solid blue;
    padding: 10px;
}
table{
    width: 100%;
    border-collapse: collapse;
}